---
import DefaultLayout from "src/layouts/defaultLayout.astro"
import HeroVideo from "@components/HeroVideo"
import PhotosCarousel from "@components/PhotosCarousel";

interface ShopReview {
	description: string;
	name: string;
}

const shopReviews: ShopReview[] = [
	{
		description: "An absolutely outstanding shop. Alex is a commensurate professional who knows his stuff, is transparent with his process, and a great communicator. His pricing is incredibly fair and its great to know that he stands behind his work with a 1 month warranty. My DRZ is in good hands with AK Cycles!",
		name: 'Scott Bradley'
	},
	{
		description: "Alex is that rare master mechanic that are few and far between. He's truly an artisan, prices are very reasonable, he's ridiculously honest,  and he has a great eye for the small details.",
		name: 'Mark Steinke'
	},
	{
		description: "Great experience! Always friendly and super knowledgeable. Alex went over and beyond. Totally honest work and made sure to make things right. I will be coming back if I need any more work done on my bike and highly recommend if anyone else needs work done!",
		name: 'Samantha Gamet'
	}
]
---

<DefaultLayout title="Home Page">
	<div class="flex justify-center">
		<HeroVideo client:load />
	</div>

	<div class="text-cream text-center sm:w-6/12 w-9/12 m-auto mb-20">
		Started in 2019, A.K. Cycles was born out of a passion for motorcycles and vintage motorsport.  As a full service motorcycle shop we work on almost all makes, models, and years.  
	</div>

	<div class="flex flex-col m-auto w-9/12 md:w-10/12">
		<p class="text-burnt-red text-center mb-6 text-xl">
			Shop Reviews
		</p>
		<div class="flex flex-col lg:flex-row justify-evenly space-x-2">
			{shopReviews.map((review) => {
				return (
				<div class="flex flex-col items-center">
					<p class="text-cream text-center mb-2 w-full lg:w-64">
						"{review.description}"
					</p>

					<p class="text-burnt-orange mb-4">
						{review.name}
					</p>
				</div>
				)
			})}
		</div>
	</div>

	<div class="w-full flex justify-center">
		<PhotosCarousel client:load />
	</div>
</DefaultLayout>