---
import { InstagramLogoIcon } from "@radix-ui/react-icons"
---

<div class="fixed bg-black p-2 bottom-0 flex flex-col items-center w-full">
  <a href="https://instagram.com/a.k.cycles" target="_blank" aria-label="AK Cycles Instagram">
    <InstagramLogoIcon className="text-cream w-6 h-6 hover:text-burnt-orange" />
  </a>
  <a 
    href="https://www.google.com/maps/place/A.K.+Cycles/@39.7323374,-105.0274641,17z/data=!4m6!3m5!1s0x876c7f3ff55dd5d1:0x3e76247c5e1aa1a3!8m2!3d39.7323334!4d-105.0225932!16s%2Fg%2F11h5rtvh21?entry=ttu" 
    target="_blank"
    class="text-cream mt-2 hover:text-burnt-orange"  
  >
    955 Decatur St, Unit M
    Denver, CO 80204
  </a>
</div>