---
const { title } = Astro.props;
import { SEO } from "astro-seo";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import AKLogo from '@assets/ak-cycles-logo.jpg';
---
<html lang="en">
  <head>
    <SEO
      title="AK Cycles: Denver's Premier Motorcycle Shop for Repairs, Restorations, and Custom Builds"
      description="Discover AK Cycles, your go-to motorcycle shop in Denver, CO, specializing in expert repairs, detailed restorations, and custom builds. Our passionate team is dedicated to providing top-notch service for all makes and models, ensuring your bike runs smoothly and looks great. Whether you`re a vintage motorcycle enthusiast or need routine maintenance, AK Cycles has you covered. Visit us today and experience the difference!"
      openGraph={{
        basic: {
          title: "AK Cycles: Denver's Premier Motorcycle Shop for Repairs, Restorations, and Custom Builds",
          type: "website",
          image: `${AKLogo}`,
        }
      }}
    />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>
  <body class="bg-black font-open">
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <Header />
    <h1>{title}</h1>
    <article class="py-24">
      <slot />
    </article>
    <Footer />
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>